nav {
  height: 5rem;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2rem;
  /*position: fixed;*/
  display: flex;
  align-items: center;
  /*flex-direction: row;*/
}

#nav-bar .logo {
  width: 5rem;
  height: 5rem;
}

#nav-bar .header {
  font-size: 2rem;
  padding-left: 1rem;
}

#nav-bar .header.loggedin-width{
  width: 70%;
}

#nav-bar .header.loggedout-width{
  width: 80%;
}

#nav-bar .header label{
  width: 75%;
}

.btn-login-register{
  display: block;
  margin: 0 0.2rem;
}

.btn-loggedin{
  display: none;
}

.btn-loggedin ul {
    list-style: none;
    padding: 0;
}

.btn-nav {
  margin: 0.3rem 0;
  border: solid 0.1rem;
  border-radius: 0.5rem;
  height: 4rem;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  /*display: flex;
  align-items: center;*/
}

.btn-loggedin img{
  /*display: none;*/
  margin: 0.3rem;
  border: solid 0.1rem;
  border-radius: 2rem;
}

.btn-loggedin ul{
  display: none;
}

.btn-nav,
.btn-login-register,
.btn-loggedin,
.btn-cancel,
.btn-loggedin img,
button:hover {
  cursor: pointer;
}

#loggedin-options{
  position: absolute;
  top: 100px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #00a087;
  padding: 0.1rem;
  display:none;
}

.btn-nav-uncliked {
  background-color: white;
  color: black;
}

.btn-nav-uncliked:hover {
  background-color: #e8fdff;
  color: #00a087;
}

.btn-nav-cliked {
  background-color: #e8fdff;
  color: #00a087;
}

.btn-nav-cliked:hover {
  background-color: white;
  color: black;
}

.btn-nav i {
  margin: 0.5rem;
}

.popup-display{
  display: block;
  z-index: 1;
}

.display{
  display: block;
}

@media (max-width: 1020px){

  #nav-bar .header.loggedin-width{
    width: 60%;
  }

  /*#nav-bar .header.loggedout-width{
    width: 70%;
  }
*/

}
/*# sourcremappingURL=nav.css.map */
