nav {
  height: 5rem;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

#nav-bar .logo {
  width: 5rem;
  height: 5rem;
}

#nav-bar .header {
  font-size: 2rem;
  padding-left: 1rem;
}

#nav-bar .header.loggedin-width{
  width: 70%;
}

#nav-bar .header.loggedout-width{
  width: 80%;
}

#nav-bar .header label{
  width: 75%;
}

.btn-login-register{
  display: block;
  margin: 0 0.2rem;
}

.btn-loggedin{
  display: none;
}

.btn-loggedin ul {
    list-style: none;
    padding: 0;
}

.btn-nav {
  margin: 0.3rem 0;
  border: solid 0.1rem;
  border-radius: 0.5rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem 0 0;
  width: 10rem;
}

.btn-loggedin img{
  margin: 0.3rem;
  border: solid 0.1rem;
  border-radius: 2rem;
}

.btn-loggedin ul{
  display: none;
}

.btn-nav,
.btn-login-register,
.btn-cancel,
.btn-loggedin img,
.btn-loggedin a,
button:hover {
  cursor: pointer;
}

#loggedin-options{
  position: absolute;
  top: 100px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #00a087;
  padding: 0.1rem;
  display:none;
}

.btn-nav-uncliked {
  background-color: white;
  color: black;
}

.btn-nav-uncliked:hover {
  background-color: #e8fdff;
  color: #00a087;
}

.btn-nav-cliked {
  background-color: #e8fdff;
  color: #00a087;
}

.btn-nav-cliked:hover {
  background-color: white;
  color: black;
}

.btn-nav i {
  margin: 0.5rem;
}

.popup-display{
  display: block;
  z-index: 1;
}

.display{
  display: block;
}

/* Dropdown Button */
.dropdown-btn {
  background-color: #00a087;
  color: #e8fdff;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-options {
  display: none;
  position: absolute;
  background-color: #00a087;
  color: #e8fdff;
  min-width: 6rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-options a,
.dropdown-options span {
  color: #e8fdff;
  padding: 0.8rem 1rem;
  text-decoration: none;
  display: block;
  background-color: #00a087;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-options {
  display: block;
  color: #e8fdff;
}

/* Show the dropdown menu on hover */
.dropdown-options:hover {
  display: block;
  color: black;
}

@media (max-width: 1020px){

  #nav-bar .header.loggedin-width{
    width: 68%;
  }
}

@media (min-width: 1021px){

  #nav-bar .header.loggedin-width{
    width: 80%;
  }

  #nav-bar .header.loggedout-width{
    width: 90%;
  }
}
/*# sourcremappingURL=nav.css.map */
