nav {
  height: 5rem;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2rem;
  /*position: fixed;*/
  display: flex;
  align-items: center;
  /*flex-direction: row;*/
}

#nav-bar .logo {
  width: 5rem;
  height: 5rem;
}

#nav-bar .header {
  font-size: 2rem;
  padding-left: 1rem;
  width: 75%;
}

#nav-bar .header label{
  width: 75%;
}

.btn-nav {
  margin: 0.3rem 0;
  border: solid 0.1rem;
  border-radius: 0.5rem;
  height: 4rem;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}

.btn-nav:hover {
  cursor: pointer;
}

.btn-nav-uncliked {
  background-color: white;
  color: black;
}

.btn-nav-uncliked:hover {
  background-color: #e8fdff;
  color: #00a087;
}

.btn-nav-cliked {
  background-color: #e8fdff;
  color: #00a087;
}

.btn-nav-cliked:hover {
  background-color: white;
  color: black;
}

.btn-nav i {
  margin: 0.5rem;
}

/*# sourcremappingURL=nav.css.map */
